{{ define "main" }}

{{ partial "page-header.html" . }}

<div class="container">
    <div class="title-header">
        <h1>CONTACT US</h1>
        <div class="title-line"></div>
    </div>
  <div id='contact'>
    <div id='contact'>
      <div class="contact-section">
      <div class="contact-img">
      <h1>Get in touch</h1>
      <img src="/images/contactPicture.svg" alt="Contact-Picture" class="contactimg" >
      </div>
      <div class="contact-info">
        <div id="book-meeting">
        <div id="buttons"><a href="#meeting"><button>Schedule a 15Minute Meeting with Our CEO & Co-founder François Veltz</button></a>
        </div>
       
      </div>
        <div class="phone">
          <i class="ti-mobile"></i><span> Phone: +33 6 95 72 40 03</h5></span>
          </div>
          <div class="email">
            <a href="mailto:qatent@inria.fr"><i class="ti-email"></i><span>   Email:</span>
              qatent@inria.fr</a>
          </div>
          <div class="address">
                <i class="ti-location-pin"></i><span>  Address:</span><br>
                Centre Inria de Paris, <br>
                Inria Startup Studio / qatent, <br> 2 rue Simone Iff, CS 42112, <br>
                 75589 Paris Cedex 13</div>
        <div class="social-info">
          <div class="support"><i class="ti-thumb-up"></i>   Support 7/7 -  CEST <br>(Central European Summer Time)</div>
          <div class="social-links">
            <h5>For more updates, connect with us on</h5>
            <a href="https://www.linkedin.com/in/qatent/"><i class="ti-linkedin"></i></a>
            <a href="https://twitter.com/QatentPatent"><i class="ti-twitter-alt"></i></a>
          </div>
      </div>
      </div>
    </div>
    </div>
  </div>
</div>

<!-- Calendly inline widget begin -->
<div id="meeting" class="calendly-inline-widget" data-url="https://calendly.com/qatent/15min?primary_color=4400aa" style="min-width:320px;height:630px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->


<script>

function contactAnimation(e){
  const timel = gsap.timeline({defaults: {ease: 'power1.out'}});
//   timel.to('.contact-slider', {y: "-100%",duration : 1 });
  timel.fromTo('.contactimg', {scale: 0}, {scale: 1,  transformOrigin:"left top", duration : 0.5});
  timel.fromTo('.phone', {opacity: 0}, {opacity: 0.7, duration: 0.2 });
  timel.fromTo('.email', {opacity: 0}, {opacity: 0.7, duration: 0.2 });
  timel.fromTo('.address', {opacity: 0}, {opacity: 0.7, duration: 0.2 });
  timel.fromTo('.support', {opacity: 0}, {opacity: 0.7, duration: 0.2 });
  timel.fromTo('.social-links', {opacity: 0}, {opacity: 0.7, duration: 0.2 });

}
function teamAnim(e){
      const tl = gsap.timeline();
       //line
      tl.fromTo('.title-line', {scale: 0}, {scale:1, duration: 1});
   }
  
   
window.addEventListener('load', teamAnim);


window.addEventListener("load", contactAnimation);
window.addEventListener("resize", contactAnimation);
</script>

<!-- call to action -->

<!-- /call to action -->

{{ end }}
